/* AYAULYM */
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
*, ::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.Ayaulym {
    margin: 0px;
    padding: 0px;
}

/* Navigation */
.Aia #header {
    background-color: #f4f4f4;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.Aia #header #Seytech {
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10%;
}
.Aia #header #button {
    background-color: #007bff;
    border-color: 1px solid #007bff;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: grid;
    text-decoration: none;
    width: 5%;
    margin-right: 10%;
}

/* Header Showase Style */
#header2 {
    background-image: url(http://s1.fotokto.ru/photo/full/586/5863263.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
#header2 #b {
    color: white;
    margin: 0;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    font-size: 400%;
    text-align: center;
}
#header2 #a {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15%;
}
#header2 #a #input {
    border: white;
    border-radius: 5px;
    width: 40%;
    height: 60px;
    font-size: 30px;
    padding-left: 20px;
    margin-left: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#header2 #a .button {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    color: white;
    font-size: 28px;
    width: 200px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    margin-right: 450px;
}
/* Section */
.Aia2 {
    color: black;
    height: 50vh;
    padding: 50px 0;
    padding-left: 100px;
    background-color: #f4f4f4;
}
.Aia2 .s1 {
    float: left;
    margin: 50px;
    margin-left: 70px;
    text-align: center;
}
.Aia2 .s1 .fully b {
    width: 50px;
    text-align: center;
    font-size: 40px;
}
.Aia2 .s1 .f {
    width: 400px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.Aia2 .s1 i span {
    font-size: 100px;
    color: #007bff;
}
.Aia2 .s1 i span:hover{
    font-size: 120px;
}

/* SOPHIE */
body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 300;
}
/* showcase */
.sophie{
    display: inline-block;
    padding-bottom: 0;
}
.showcase-img{
    width: 50%;
    
    margin: 0;
    padding: 0;
    padding-bottom: 0;
}
.showcase-img-1{
    float: right;
}
.showcase-img-2{
    float: left;
}
.showcase-img-3{
    float: right;
}
img{
    width: 100%;
}
.showcase-text{
    width: 50%;
    text-align: center;
    padding-top: 13%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 120%;
    padding-bottom: 0;
}
.showcase-text-1{
    float: left;
}
.showcase-text-2{
    float: right;
}
.showcase-text-3{
    float: left;
}

/* ANELI */
.body {
    margin:0;
    padding:0;
    background-color: #f4f4f4;
    color: black;
    font-family: 'Lato', sans-serif;
}
.t3 {
    height: 60vh;
    margin-left: 15%;
}
.t3 .mb-5 {
    padding-top: 60px;
    font-size: 30px;
    text-align: center;
    margin-right: 20%;
    margin-bottom: 5%;
}
.t3 .container .a,
.t3 .container .b,
.t3 .container .c {
    float: left;
    padding: 0 5%;
}
.f {
    width: 200px;
    border-radius: 100px;
}
.t3 .container .a h5 b {
    font-size: 30px;
    margin-left: 30px;
    text-align: center;
}
.t3 .container .b h5 b,
.t3 .container .c h5 b {
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
}
.t3 .container .b .a2 {
    text-align: center;
    width: 300px;
}

/* SOPHIE */
/* register */
.sophie-register{
    background-image: url(https://gas-kvas.com/uploads/posts/2023-02/1675431406_gas-kvas-com-p-okean-fonovie-risunki-21.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
}
.register-text{
    text-align: center;
    color: white;
    padding-top: 5%;
}
.register-button{
    color: white;
    background-color: rgb(0, 149, 255);
    border: 0;
    font-size: 15px;
    border-radius: 5%;
    padding: 1%;
    width: 10%;
    margin-left: 1%;
}
.input-button{
    width: 25%;
    padding: 1%;
    border-radius: 5%;
    border: 0;
}
.input-button:focus{
    border: solid 5px rgb(0, 149, 255);
}
.register-tap{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
}
/* footer */
.footer {
    color: #000;
}
.list-item{
    display: inline;
    color: rgb(0, 149, 255);
}
.sophie-a{
    text-decoration: none;
}
.sophie-footer-text{
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 5%;
    float: left;
}
.social-icons{
    display: flex;
    justify-content: flex-end;
    padding-top: 5.5%;
    padding-right: 15%;
    margin: 0;
}
.facebook img {
    max-width: 20px;
}
.facebook:hover{
    cursor: pointer;
}
.dot {
    color:#000;
}
footer .container {
    max-width: 1280px;
    margin: 0 auto;
}
.social-icons {
    font-size: 28px;
    display: flex;
    gap: 40px;
}
.fa-instagram:hover {
    color: #0d3e74;
}
.fa-facebook:hover {
    color:#0d3e74;
}
.fa-twitter:hover {
    color: #0d3e74;
}



/* Media for phone AYAULYM */
@media screen and (min-width:320px) and (max-width: 480px) {
    .Aia #header {
        padding: 0;
        margin: 0;
        display: inline-block;
        height: 6vh;
        width: 100%;
    }
    .Aia #header #Seytech {
        font-size: 20px;
        padding: 5px;
        margin-left: 3%;
    }
    .Aia #header #button {
        font-size: 20px;
        padding: 0px;
        margin: 0;
        width: 100px;
        margin-left: 50%;
        margin-top: 1%;
        display: inline-block;
    }
    #header2 {
        height: 50vh;
        width: 420px;
    }
    #header2 #b {
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #header2 #a {
        display: block;
        margin-top: 0;
    }
    #header2 #a #input {
        width: 300px;
        height: 30px;
        font-size: 15px;
        padding-left: 5px;
        margin: 0;
    }
    #header2 #a .button {
        font-size: 15px;
        width: 300px;
        height: 30px;
        margin-top: 8px;
        display: grid;
    }
    .Aia2 {
        padding: 0px;
        margin: 0;
        height: 100vh;
        padding-left: 15%;
    }
    .Aia2 .s1 {
        float: left;
        margin: 0px;
        text-align: center;
        
    }
    .Aia2 .s1 .fully b {
        font-size: 30px;
    }
    .Aia2 .s1 .f {
        width: 215px;
        text-align: center;
        font-size: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .Aia2 .s1 .i {
        width: 30px;
    }
    .Aia2 .s1 .i:hover {
        width: 20px;
        margin: 0;
    }
}

/* Media for tablet AYAULYM */
@media screen and (min-width:481px) and (max-width: 767px) {
    .Aia #header {
        padding: 0;
        margin: 0;
        display: inline-block;
        height: 10vh;
        width: 100%;
    }
    .Aia #header #Seytech {
        font-size: 20px;
        padding: 5px;
        margin-left: 20px;
    }
    .Aia #header #button {
        font-size: 20px;
        padding: 0px;
        margin: 0;
        width: 100px;
        margin-left: 260px;
        margin-top: 10px;
        display: inline-block;
        margin-right: 20px;
    }

    #header2 {
        height: 55vh;
        width: 100%;
    }
    #header2 #b {
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #header2 #a {
        display: block;
        margin: 0;
    }
    #header2 #a #input {
        width: 90%;
        height: 30px;
        font-size: 15px;
        padding-left: 5px;
        margin: 0;
        /* margin-right: 100px; */
    }
    #header2 #a .button {
        font-size: 15px;
        width: 90%;
        height: 30px;
        margin-top: 8px;
        display: grid;
    }
    .Aia2 {
        padding: 0px;
        margin: 0;
        width: 100%;
        height: 150vh;
    }
    .Aia2 .s1 {
        margin: 0px;
        display: flex;
        padding-left: 15%;
        flex-flow: column wrap;
        text-align: center;
    }
    .Aia2 .s1 .fully b {
        font-size: 40px;
    }
    .Aia2 .s1 .f {
        width: 80%;
        text-align: center;
        font-size: 20px;
        padding-left: 0;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .Aia2 .i {
        margin-left: 50px;
        width: 120px;
    }
    .Aia2 .i:hover {
        width: 130px;
        margin: 0;
    }
}

/* Media SOPHIE */
@media (min-width: 0px) and (max-width: 768px) {

    /* footer */

    .sophie-footer-text, .social-icons{
        display: block;
    }

    .sophie-footer-text{
        text-align: center;
    }

    .social-icons{
        display: flex;
        justify-content: center;
        padding: 11%;
    }

    /* showcase */

    .showcase-text{
        text-align: center;
        width: 100%;
    }

    .showcase-img{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .showcase-text{
        padding-bottom: 10%;
    }

    /* register */

    .input-button, .register-button{
        display: block;
    }

    .input-button{
        margin-left: 40%;
        margin-bottom: 2%;
    }

    .register-button{
        margin-left: 43%;
        width: 20%;
    }
}